/.vscode/.java/Teste/nbproject/private/
/.vscode/.java/test4/nbproject/private/
/.vscode/.java/test3/nbproject/private/
/.vscode/.java/PROO_Java/nbproject/private/
/PROO_Java/nbproject/private/
/PROO_Java/build/
